# Virtual Environments
.venv/
env/
venv/
ENV/
env.bak/
venv.bak/


# Jupyter Notebooks
.ipynb_checkpoints/

# Python
__pycache__/
*.py[cod]
*$py.class

# OS Files
.DS_Store

# Frontend
node_modules/
dist/
.vite/
